<h2>Leave message</h2>
<form action='/contact' method='post' class="form-inline well">
	<textarea rows="1" name="name" placeholder="name" ></textarea><br>
	<textarea rows="1" name="email" placeholder="email" ></textarea><br>
	<textarea rows="3" name="message" placeholder="message" ></textarea>
	<input type='submit' class="btn primary">
</form>

